/*
 * Estilos de tu proyecto
 */

 /* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

html, body {
	padding: 0;
	margin: 0;
}

header {
	background-color: #2C3E50;
	padding: 20px 15px;
	font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 17px;
   	cursor: pointer;

}

.menu {
	display: flex;
	justify-content: space-around;
	color: white;
}

.text-1-menu {
    font-size: 27px;
    font-weight: 800;
    display: inline-flex;
	align-items: center;
}

.text-2-menu a {
	margin: 15px;
	font-weight: 600;
	display: inline-flex;
	align-items: center;
}

/* Fim Header */

/* Banner */
.banner{
	text-align: center;
	background-color: #18bc9c;
	padding: 30px 15px;
	color: #fff;
	font-family: 'Lato', sans-serif;
}

.title-page{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 80px;
}
/* Fim banner */

/* Portfolio */
.portfolio {
	font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #2C3E50;
    font-size: 40px;
    text-align: center;
    margin: 60px;
}

figure {
	display: inline-block;
}

.container-1, .container-2 {
	width: 400px;
	height: 270px;
	display: flex;
	justify-content: center;	
}

.img {
	margin: 15px;
	width: 350px;
	height: 252px;
}
/* Fim portfolio */


.about {

	background-color: #18bc9c;
	text-align: center;
	color: #FFFFFF;

}

.about h3 {
	padding: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	text-transform: uppercase;

}

button {

	font-size: 16px;
    margin: 4px 2px;
    border: none;
    border-radius: 4px;
	cursor: pointer;
}

