/*
 * Estilos de tu proyecto
 */

 /* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

header {
	background-color: #2C3E50;
	padding: 30px 15px;
	font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 17px;
   	cursor: pointer;

}

.flex-container {
	display: flex;
	justify-content: space-around;
	color: white;
}

.text-1 {
    font-size: 30px;

}

.banner{
	text-align: center;
	background-color: #18bc9c;
	padding: 30px 15px;
	color: #fff;
	font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.portfolio {
	font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #2C3E50;
    font-size: 40px;
    text-align: center;
    margin: 60px;

}

.group-1, .group-2 {
	width: 300px;
	height: auto;
	display: inline;
}
.img {
	width: 200px;
	height: autopx;
}

button {

	font-size: 16px;
    margin: 4px 2px;
    border: none;
    border-radius: 4px;
	cursor: pointer;
}