/*
 * Estilos de tu proyecto
 */

 /* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

html, body {
	padding: 0;
	margin: 0;
}

header {
	height: 80px;
	background-color: #2C3E50;
	font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
   	cursor: pointer;
   	display: flex;
   	justify-content: center;
   	align-items: center;
}

nav {
	width: 1000px;
	display: flex;
	justify-content: space-between;
	color: white;
}

.text-1-menu {
    font-size: 27px;
    font-weight: 800;
    display: inline-flex;
	align-items: center;
}

.text-2-menu a {
    font-size: 15px;
	margin: 5px;
	font-weight: 800;
	display: inline-flex;
	align-items: center;
}

/* Fim Header */

/* Banner */
.banner{
	height: 631px;
	text-align: center;
	background-color: #18bc9c;
	color: #fff;
	font-family: 'Lato', sans-serif;

}

.banner figure {
	margin: 0;
}

.title-page{
    text-transform: uppercase;
  	font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 45px;
    position: relative;
  	top: 70px;
}

.subtitles-page{
	position: relative;
  	top: 83px;
}

.img-relative {
  position: relative;
  top: 99px;
  width: 230px;
  height: 230px;
}
/* Fim banner */

/* Portfolio */
.portfolio {
    text-align: center;
    height: 700px;
}

.portfolio-container {
	width: 1200px;
	margin: 90px auto 93px auto;
}
.portfolio-container h3 {
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: #212529;
    font-size: 42px;
}
.star {
	height: 50px;
	padding: 0px;
}

.img {
	margin: 0px 11px 22px 11px;
	width: 317px;
	height: 227px;
}
/* Fim portfolio */

/* About */
.about {

	background-color: #18bc9c;
	text-align: center;
	color: #FFFFFF;
	height: 522px;
}

.container-about{
	margin: 0 auto;
	padding: 90px 0px 0px 0px;
	width: 1200px;
}

.about-paragraphs {
	width: 652px;
	text-align: left;
	color: #fff;
	font-family: 'Lato', sans-serif;
	display: inline-flex;
	justify-content: space-between;

}

.about h3 {
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 900;
}

.about-paragraphs div {
	width: 300px; 
	height: 200px;
	font-size: 18px;
	line-height: 26px;
}
.star-about {
	height: 40px;
	padding: 0px;
}

button {
	width: 190px;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	padding: 10px;
    margin: 4px 2px;
    background-color: #18bc9c;
    border: solid white;
    border-radius: 6px;
	cursor: pointer;
	color: white;
}
/*Fim About */

.contact {
	text-align: center;	 
}

.container-contact {
	margin: 0px auto;
	padding: 88px;
}

.container-contact h3{
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 900;
	color: #2C3E50;
}
.star-contact {
	height: 80px;
	padding: 0px;
}

/* Contact me */
.contact{
	height: 793px;
}
.form, .message{
	height: 80px;
	width: 700px;
}

form {
	height: 426px;
	margin: 0 auto 0 auto;
}
.form input{
	height: 40px;
	width: 700px;
	margin: 0 auto;
	padding: 0;
	border: none;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.message input{
	height: 150px;
	width: 700px;
	border: none;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.div-form{
	width: 700px;
	margin: 0 auto;

}

hr {
    display: block;
    height: 1px;
    width: 700px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

#send {
	width: 75px;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	padding: 10px;
    margin: 4px 2px;
    background-color: #18bc9c;
    border: solid white;
    border-radius: 8px;
	cursor: pointer;
	color: white;

}


/*Footer */

footer {
	background-color: #2C3E50;
	height: 308px;
}
.footer-container1{
	width: 80%;
	margin: 0px auto;
	padding: 42px 0;
	display: flex;
	justify-content: center;
}

.footer-container1 p{
	margin: 0px auto;
	padding: 32px 0px 0px 0px;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: white;
}
.footer-container1 h4{
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 800;
	color: white
}
.footer-container1 div {
	width: 310px;
	height: 150px;
	margin: 0 18px;
	text-align: center;
}

.footer-container2 {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	color: white;
	text-align: center;
}

.footer-container2 p {
	margin: 0;
	font-size: 15px;
}

span {
	color: #18bc9c;
}